.essentials {
  max-width: 1200px;
  width: 100%;
  max-height: 890px;
  background-color: #fff;
  border-radius: 64px;
  margin: 120px auto 0 auto;
  text-align: center;
  position: relative;
  padding: 60px 20px;
}

.essentials__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  max-width: 1120px;
  width: 100%;
  height: 624px;
  margin: 0 auto;
}

.essentials__item {
  background-color: #e7e9ea;
  border-radius: 40px;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
  border: 4px solid #ffffff;
  background-repeat: no-repeat;
  position: relative;
}

.essentials__tag {
  border-radius: 40px;
  background-color: white;
  font-size: 12px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 12px;
  font-weight: 500;
  position: absolute;
  top: 20px;
  left: 20px;
  border: 2px solid rgb(199, 195, 195);
}

.essentials__item-text {
  color: #000;
  font-size: 14px;
  text-align: left;
  margin: 0 0 0 10px;
  line-height: 1.4;
}

.essentials__accent {
  background: linear-gradient(180deg, #517cee 25%, #1f5bf1 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  padding-right: 7px;
}
