.essentials {
  max-width: 1200px;
  width: 90%;
  background-color: #fff;
  border-radius: 64px;
  margin: 120px auto;
  text-align: center;
  padding: 80px 40px;
  box-sizing: border-box;
}

.essentials__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  max-width: 1120px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.essentials__item {
  background-color: #e7e9ea;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 70px 24px 24px 24px;
  border: 4px solid #ffffff;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.essentials__tag {
  border-radius: 40px;
  background-color: white;
  font-size: clamp(16px, 1vw, 20px);
  max-width: 90%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 14px;
  font-weight: 500;
  position: absolute;
  top: 20px;
  left: 20px;
  border: 2px solid rgb(199, 195, 195);
}

.essentials__item-text {
  color: #000;
  text-align: left;
  font-size: clamp(18px, 1.1vw, 24px);
  margin: 0;
  line-height: 1.6;
}

.essentials__accent {
  background: linear-gradient(180deg, #517cee 25%, #1f5bf1 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  padding-right: 7px;
}

@media screen and (max-width: 850px) and (min-width: 250px) {
  .essentials__grid {
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
  }

  .essentials__item {
    width: 100%;
    border-radius: 28px;
    padding: 60px 20px 20px 20px;
  }

  .essentials__tag {
    top: 16px;
    left: 16px;
    padding: 6px 12px;
    border-radius: 24px;
    font-size: clamp(14px, 1.1vw, 18px);
  }

  .essentials__item-text {
    color: #000;
    text-align: left;
    font-size: clamp(16px, 1.1vw, 20px);
    margin: 0;
    line-height: 1.3;
  }
}
