.header--legal {
  height: 100vh;
  min-height: 650px;
  max-height: 750px;
  overflow: hidden;
  background: #0e1c29;
  position: relative;
  background-image:
    radial-gradient(
      ellipse at 75% 50%,
      rgba(14, 28, 41, 0.1) 0%,
      rgba(14, 28, 41, 0.8) 15%,
      #0e1c29 70%
    ),
    url("../images/texture.png");
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.header--legal::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    rgba(31, 91, 241, 0.9) 0%,
    rgba(38, 96, 239, 0.6) 10%,
    rgba(38, 96, 239, 0) 100%
  );
  filter: blur(50px);
  -webkit-mask-image: polygon(50% 0%, 0% 100%, 100% 100%);
  mask-image: polygon(50% 0%, 0% 100%, 100% 100%);

  z-index: 0;
  pointer-events: none;
}

.header--legal::after {
  content: "";
  position: absolute;
  top: 0;
  left: 75%;
  width: 10px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(2, 118, 151, 0.8),
    rgba(156, 208, 251, 0.9) 90%,
    rgba(71, 208, 247, 0.8)
  );
  filter: blur(8px);
  box-shadow: 0 0 40px 10px rgba(0, 180, 255, 0.7);
  z-index: 1;
  pointer-events: none;
}

.header__content--legal {
  position: relative;
  width: 100%;
  max-width: 453px;
  margin-top: 40px;
  height: auto;
  top: 100px;
}

.header__title--legal {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  margin: 12px 0;
  color: #fff;
}

.header__description--legal {
  color: #fff;
  font-size: 20px;
  font-weight: 200;
}
.header__description--text {
  color: #9fa4a9;
  font-size: 20px;
  font-weight: 200;
}

.nav__logo {
  background-color: transparent;
  display: block;
  cursor: pointer;
  transition: transform 0.4s ease;
}

@media screen and (max-width: 800px) and (min-width: 500px) {
  .header__content--legal {
    width: 80%;
    top: 20%;
    margin-top: 0;
  }

  .header__title--legal {
    font-size: clamp(60px, 6vw, 64px);
    text-align: start;
    margin: 12px 0;
  }

  .header__description--legal,
  .header__description--text {
    font-size: clamp(18px, 2.5vw, 20px);
    line-height: 1.5;
    text-align: start;
  }

  .header--legal::before {
    left: 85%;
    width: 60%;
  }

  .header--legal::after {
    left: 85%;
    width: 15px;
  }
}

@media screen and (max-width: 500px) and (min-width: 220px) {
  .header__content--legal {
    width: 80%;
    top: 4%;
    margin-top: 0;
  }

  .header__title--legal {
    font-size: clamp(55px, 6vw, 64px);
    text-align: start;
    margin: 12px 0;
  }

  .header__description--legal,
  .header__description--text {
    font-size: clamp(18px, 2.5vw, 20px);
    line-height: 1.3;
    text-align: start;
  }

  .header--legal::before {
    left: 100%;
    width: 60%;
  }

  .header--legal::after {
    left: 95%;
    width: 15px;
  }
}
