.body {
  max-width: 1920px;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .body {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
  }
}
