@import url(../blocks/header.css);
@import url(../blocks/page.css);
@import url(../blocks/whyRivalRadal.css);
@import url(../blocks/footer.css);
@import url(../blocks/plansAndPricing.css);
@import url(../blocks/faq.css);
@import url(../blocks/testimonials.css);
@import url(../blocks/form.css);
@import url(../blocks/ctaBanner.css);
@import url(../blocks/legalHeader.css);
@import url(../blocks/essentials.css);
